<%= turbo_frame_tag "catches-page-#{@pagy.page}" do %>
  <div class="flex flex-col gap-4">
    <%= render @catches %>

    <% if @pagy.next %>
      <%= turbo_frame_tag "catches-page-#{@pagy.next}" do %>
        <div class="mt-2 flex justify-center">
          <%= link_to catches_path(page: @pagy.next), class: "primary-button" do %>
            <div class="w-4 h-4">
              <%= show_svg "arrow_down" %>
            </div>
            <p><%= t("shared.view_more") %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
