<div class="flex justify-between items-center">
  <h1 class="title"><%= t("pokemons.index.title") %></h1>
  <%= link_to new_pokemon_path, class: "primary-button" do %>
    <div class="w-4 h-4">
      <%= show_svg "plus" %>
    </div>
    <p><%= t("pokemons.index.add_pokemon") %></p>
  <% end %>
</div>

<div data-controller="pokemons" data-pokemons-value="<%= pokemons_path %>" class="mt-8 flex items-center justify-between gap-8">
  <%= text_field_tag :search, params[:search], placeholder: t("pokemons.index.search"), class: "form-input", data: { pokemons_target: "searchInput" }, autocomplete: "off" %>
  <div class="flex items-center gap-2">
    <p class="text-sm text-gray-600"><%= t("pokemons.index.type") %></p>
    <%= select_tag :pokemon_type, options_for_select([["All", "all"]].concat(Pokemon.pokemon_types.keys.map { |type| [type.capitalize, type] }), params[:pokemon_type]), class: "w-32 md:w-52 form-input", data: { pokemons_target: "typeInput" } %>
  </div>
</div>

<% if @pokemons.any? %>
  <div class="mt-8 bg-white p-8 rounded-2xl shadow-md flex flex-col gap-4">
    <div class="flex px-4">
      <h6 class="table-header w-[30%] lg:w-1/5"><%= t("pokemons.index.table.date") %></h6>
      <h6 class="table-header w-[30%]"><%= t("pokemons.index.table.name") %></h6>
      <h6 class="table-header w-1/5"><%= t("pokemons.index.table.type") %></h6>
      <h6 class="table-header w-1/5 lg:w-[30%]"><%= t("pokemons.index.table.actions") %></h6>
    </div>

    <%= turbo_frame_tag "pokemons-container" do %>
      <%= render "pokemons_container" %>
    <% end %>
  </div>
<% else %>
  <div class="mt-8 flex flex-col items-center gap-4 bg-white p-8 rounded-2xl shadow-md">
    <%= image_tag "pokeball_empty", class: "w-24" %>
    <p class="text-gray-500 text-sm"><%= t("pokemons.index.table.empty") %></p>
    <%= link_to new_pokemon_path, class: "primary-button" do %>
      <div class="w-4 h-4">
        <%= show_svg "plus" %>
      </div>
      <p><%= t("pokemons.index.add_pokemon") %></p>
    <% end %>
  </div>
<% end %>
