<div class="flex justify-between items-center">
  <h1 class="title"><%= t("pokemons.index.title") %></h1>
  <% if current_user.admin? %>
    <%= link_to new_pokemon_path, class: "primary-button" do %>
      <div class="w-4 h-4">
        <%= show_svg "plus" %>
      </div>
      <p><%= t("pokemons.index.add_pokemon") %></p>
    <% end %>
  <% else %>
    <div data-controller="catch-pokemon">
      <%= form_for(:catch, url: new_catch_path(format: :turbo_stream), method: :get) do |f| %>
        <%= f.submit t("pokemons.index.catch_pokemon"), class: "primary-button" %>
      <% end %>
      <%= turbo_frame_tag "catch-modal" %>
    </div>
  <% end %>
</div>

<div data-controller="pokemons" data-pokemons-search-url-value="<%= search_pokemons_path %>" class="mt-8 flex items-center justify-between gap-8">
  <%= text_field_tag :search, params[:search], placeholder: t("pokemons.index.search"), class: "form-input", data: { pokemons_target: "searchInput" }, autocomplete: "off" %>
  <div class="flex items-center gap-2">
    <p class="text-sm text-gray-600"><%= t("pokemons.index.type") %></p>
    <%= select_tag :pokemon_type, options_for_select([["All", "all"]].concat(pokemon_types_for_select), params[:pokemon_type]), class: "w-32 md:w-52 form-input", data: { pokemons_target: "typeInput" } %>
  </div>
</div>

<% if total_pokemons.positive? %>
  <div class="mt-8 bg-white p-8 rounded-2xl shadow-md flex flex-col gap-4">
    <div class="flex px-4">
      <h6 class="table-header <%= current_user.admin? ? "w-[30%]" : "w-2/5" %>"><%= t("pokemons.index.table.created") %></h6>
      <h6 class="table-header <%= current_user.admin? ? "w-1/4" : "w-2/5" %>"><%= t("pokemons.index.table.name") %></h6>
      <h6 class="table-header <%= current_user.admin? ? "w-1/5 md:w-[15%]" : "w-1/5 text-center" %>"><%= t("pokemons.index.table.type") %></h6>
      <% if current_user.admin? %>
        <h6 class="table-header w-1/4 md:w-[30%]"><%= t("pokemons.index.table.actions") %></h6>
      <% end %>
    </div>

    <%= turbo_frame_tag "pokemons-container" do %>
      <%= render "pokemons_container" %>
    <% end %>
  </div>
<% else %>
  <div class="mt-8 flex flex-col items-center gap-4 bg-white p-8 rounded-2xl shadow-md">
    <%= image_tag "pokeball_empty", class: "w-24" %>
    <p class="text-gray-500 text-sm"><%= t("pokemons.index.table.empty") %></p>
    <% if current_user.admin? %>
      <%= link_to new_pokemon_path, class: "primary-button" do %>
        <div class="w-4 h-4">
          <%= show_svg "plus" %>
        </div>
        <p><%= t("pokemons.index.add_pokemon") %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
