<h1 class="title"><%= t("pokemons.index.title") %></h1>

<div class="mt-8 bg-white p-8 rounded-2xl shadow-md flex flex-col gap-4">
  <div class="flex px-4">
    <h6 class="table-header w-[30%] lg:w-1/5"><%= t("pokemons.index.table.date") %></h6>
    <h6 class="table-header w-[30%]"><%= t("pokemons.index.table.name") %></h6>
    <h6 class="table-header w-1/5"><%= t("pokemons.index.table.type") %></h6>
    <h6 class="table-header w-1/5 lg:w-[30%]"><%= t("pokemons.index.table.actions") %></h6>
  </div>
  <%= render @pokemons %>
</div>
