<div class="flex flex-col w-full items-center">
  <h2 class="form-title"><%= t("pokemons.new") %></h2>

  <%= form_for(@pokemon, html: { class: "w-full md:w-96 flex flex-col gap-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @pokemon %>

    <div class="field">
      <%= f.label :name, class: "form-label" %><br>
      <%= f.text_field :name, autofocus: true, class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :main_technique, class: "form-label" %><br>
      <%= f.text_field :main_technique, class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :pokemon_type, class: "form-label" %><br>
      <%= f.select :pokemon_type, Pokemon.pokemon_types.keys, class: "form-input" %>
    </div>

    <div class="actions">
      <%= f.submit t("pokemons.create"), class: "form-button" %>
    </div>
  <% end %>

</div>
