<%= content_for(:go_back) do %>
  <%= render "shared/go_back", path: pokemons_path %>
<% end %>

<div class="flex flex-col w-full items-center relative">
  <div class="mt-4 md:m-0 border border-purple-700 shadow-md md:absolute top-0 right-[10%] w-36 h-36 md:w-24 md:h-24 p-3 bg-white rounded-full flex items-center justify-center">
    <% if @pokemon.image.attached? %>
      <%= image_tag @pokemon.image %>
    <% else %>
      <%= image_tag "missing", class: "opacity-50" %>
    <% end %>
  </div>

  <h2 class="form-title"><%= @pokemon.name.capitalize %></h2>

  <div class="md:mt-8 bg-white p-8 rounded-2xl shadow-md flex flex-col gap-4 w-4/5">
    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900"><%= t("pokemons.show.card_title") %></h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"><%= t("pokemons.show.card_description") %></p>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="card-detail-container">
          <dt class="card-term"><%= t("pokemons.show.main_technique") %></dt>
          <dd class="card-value <%= "text-gray-300" if @pokemon.main_technique.blank? %>">
            <%= @pokemon.main_technique.blank? ? t("shared.not_provided") : @pokemon.main_technique %>
          </dd>
        </div>
        <div class="card-detail-container">
          <dt class="card-term"><%= t("pokemons.show.country") %></dt>
          <dd class="card-value <%= "text-gray-300" if @pokemon.country.blank? %>">
            <%= country_selected(@pokemon.country) || t("shared.not_provided") %>
          </dd>
        </div>
        <div class="card-detail-container">
          <dt class="card-term"><%= t("pokemons.show.type") %></dt>
          <dd class="card-value">
            <p class="table-badge <%= badge_classes_for(@pokemon.pokemon_type) %>"><%= @pokemon.pokemon_type %></p>
          </dd>
        </div>
        <div class="card-detail-container">
          <dt class="card-term"><%= t("pokemons.show.description") %></dt>
          <dd class="card-value <%= "text-gray-300" if @pokemon.description.blank? %>">
            <%= @pokemon.description.blank? ? t("shared.not_provided") : simple_format(@pokemon.description) %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
