<%= turbo_frame_tag trainer do %>
  <div class="border border-gray-300 rounded-lg p-4 flex items-center">
    <%= link_to trainer_path(trainer.id), class: "w-2/5 text-purple-700 hover:underline", data: { turbo_frame: "_top" } do %>
      <p><%= trainer.full_name %></p>
    <% end %>
    <p class="w-2/5 text-sm text-gray-500"><%= trainer.email %></p>
    <div class="flex items-center w-1/5 lg:w-[30%]">
      <%= link_to edit_trainer_path(trainer.id), class: "table-button text-yellow-700", data: { turbo_frame: "_top" } do %>
        <div class="w-4 h-4">
          <%= show_svg "edit" %>
        </div>
        <p class="hidden lg:block"><%= t("shared.edit") %></p>
      <% end %>
      <%= link_to trainer_path(trainer.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "table-button text-red-500" do %>
        <div class="w-4 h-4">
          <%= show_svg "delete" %>
        </div>
        <p class="hidden lg:block"><%= t("shared.delete") %></p>
      <% end %>
    </div>
  </div>
<% end %>
